.container {
    background-color: #1a1a1a;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}


#error {
    background-color: #ffebeb;
}

#error > p {
    color: #ff3b3b;
}

#message {
    background-color: #d9edf7;
}

#message > p {
    color: #1380e0;
}

.alert {
    margin-left: 1%;
    color: white;
}

.button {
    margin-right: 2%;
    color: black;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}