.inputGroup {
    display: flex;
    overflow: hidden;
    min-height: 40px;
}

.button {
    background-color: #1c459b;
    border-color: #1c459b;
    width: 7%;
    min-width: 40px;
    border-radius: 0px 4px 4px 0px;
    box-shadow: none;
    padding: 0px;
    margin: 0px
}

.button:hover,
.button:focus,
.button:active {
    box-shadow: 1px 1px 6px #595959;
}

.searchBox {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    padding-left: 10px;
}

.searchBox:focus {
    outline: none;
}

.searchBox:focus-within {
    border: 1px solid #4073dd;
}