.card {
    margin: 1rem;
    color: inherit;
    border: 1px solid #eaeaea;
    transition: color 0.15s ease, border-color 0.15s ease;
    background-color: #e6e6e6;
    width: 20rem;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
    cursor: pointer;
  }
  
  .card:hover h2,
  .card:hover p {
    color: #0070f3;
  }
  
  .thumbnail {
    object-fit: fill;
    object-position: 50% 0%;
  }