.searchContainer {
  background-color: #e8e8e8;
  padding: 0;
  margin: 0;
}

.searchBoxContainer {
  background-color: white;
  padding: 0;
  margin: 0;
}

.searchResultCount {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 5px;

}

.resultsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 400px;
  background-color: white;
  border: 1px solid #D8D8D8;
  margin-bottom: 50px;
}

.sortButton {
  margin-left: auto !important;
  align-self: flex-end;
  margin-bottom: 5px;
}

.sortButton > * {
  margin-left: 5px;
}
