.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
  }

  .container {
    display: flex;
  align-items: center;
  justify-content: center;

  }